body {
    margin-top: 50px;
}
.pad-top-10 {padding-top: 10px;}
.pad-top-20 {padding-top: 20px;}
.pad-top-30 {padding-top: 30px;}

.top-bar{
    height:5px;
    background: #CA2129;
    margin-bottom: 1px;
}

.navbar {
    margin-bottom: 0;
}

.navbar li:hover{
    background: #e7e7e7;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;    
}

li.login a {
    background: #ca2129;
    margin-bottom: -10px !important;
    color: #fff !important;
    padding-left: 22px;
    padding-right: 22px; 
}

li.register a {
    background: #2e98cc;
    margin-bottom: -10px !important;
    color: #fff !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    background: #cccccc;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-right: 6px;
}

.jumbotron {
    background: url(../images/waterdrop.jpg) no-repeat 50% 0;
    height: 350px;
    padding: 0;
}

.jumbotron [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
    overflow: auto;
    height: 350px;
}

.jumbotron-content {
    color: #fff;
}

.jumbotron h1{
    font-size: 35px;
    border-bottom: #fff solid 1px;
    padding-bottom: 15px;
}

.bluebox {
    background: #2e98cc;
    overflow: hidden;
    height: 250px;
    color: #fff;
    padding: 0 10px;
    font-size: 120%;
}

.redbox {
    background: #CA2129;
    overflow: hidden;
    height: 250px;
    color: #fff;
    padding: 0 10px;
    font-size: 120%;
}

.bluebox a.readmore {
    position: absolute;
    bottom: 15px;
    left: 30px;
    background: #2b8cbc;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

.bluebox a.readmore:hover {
    background: #20749d;
    text-decoration: none;
}

.redbox a.readmore {
    position: absolute;
    bottom: 15px;
    left: 30px;
    background: #bf1e26;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

.redbox a.readmore:hover {
    background: #86161b;
    text-decoration: none;
}

.panel-heading {
    background: #2e98cc !important; 
    color: #fff !important;
}

.media-body *{
    font-size: 150%;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
    background: #CA2129;
    border: #CA2129;
}
footer {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    background: #f4f4f4;
}
